ol,
ul {
  margin-top: 0;
  margin-bottom: 10px;
}
.back-top {
  position: fixed;
  bottom: 150px;
  right: 0;
  margin-left: 555px;
  z-index: 99;
}
.back-top li {
  border: 1px solid #bcbcbc;
  width: 42px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  margin: -1px 0 -1px 0;
  background: #fff;
  transition: all 0.3s;
}
.back-top li:hover {
  line-height: 13px;
  padding: 7px 3px;
  font-size: 12px;
  background: #ed1c24;
}
.back-top li:hover a {
  line-height: 13px;
  padding: 7px 3px;
  font-size: 12px;
}
.back-top li:hover a .glyphicon {
  display: none;
}
.back-top li:hover a .backShow {
  display: inline;
}
.back-top li .glyphicon {
  font-size: 20px;
  display: inline-block;
  margin-top: 8px;
}
.back-top li .glyphicon-kefu {
  background: url(https://www.konka.com/themes/pc/konka/images/kefu.jpg) no-repeat;
  background-size: 100% 100%;
  width: 25px;
  height: 25px;
}
.back-top li .backShow {
  display: none;
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#the-top {
  display: none;
}
