.container {
  width: 1140px!important;
  margin: 0 auto;
  padding: 0;
}
.main-container {
  padding-top: 100px;
}
.main-container .panel {
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  border-color: #ddd;
}
.main-container .panel .panel-body {
  padding: 0;
}
.main-container .panel .panel-body .gfilter-list {
  margin: 0;
}
.main-container .panel .panel-body .gfilter-list dt {
  float: left;
  width: 85px;
  height: 40px;
  text-align: center;
  padding: 0 15px 0 15px;
  line-height: 40px;
  background: #eee;
  border-bottom: 1px solid #e0e0e0;
  font-weight: 600;
}
.main-container .panel .panel-body .gfilter-list dd {
  margin-left: 0px;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #f0f0f0;
  overflow: hidden;
}
.main-container .panel .panel-body .gfilter-list dd:last-child {
  border-bottom: 0;
}
.main-container .panel .panel-body .gfilter-list dd .list-inline {
  padding-left: 0;
  list-style: none;
  margin-top: 0;
  margin-bottom: 10px;
}
.main-container .panel .panel-body .gfilter-list dd .list-inline li {
  display: inline-block;
  padding: 0 20px;
}
.main-container .panel .panel-body .gfilter-list dd .list-inline li a {
  color: #333;
  padding: 0;
  border: 0;
  display: inline;
}
.main-container .panel .panel-body .gfilter-list dd .list-inline li a:hover {
  color: #ed1c24;
}
.main-container .goods-list {
  display: none;
  padding-top: 30px;
}
.main-container .goods-list .goods-list-item {
  float: left;
  background: #fff;
  padding: 10px;
  height: 340px;
  width: 270px;
  margin-left: 20px;
  margin-bottom: 20px;
  position: relative;
  text-align: center;
}
.main-container .goods-list .goods-list-item:nth-child(4n+1) {
  margin-left: 0;
}
.main-container .goods-list .goods-list-item:hover {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  z-index: 2;
  transition: all 0.5s;
  transform: translate3d(0, -2px, 0);
}
.main-container .goods-list .goods-list-item .figure {
  height: 200px;
  width: 100%;
  line-height: 200px;
  font-size: 0;
}
.main-container .goods-list .goods-list-item .figure img {
  margin-bottom: 30px;
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}
.main-container .goods-list .goods-list-item .figure-title {
  margin-top: 10px;
  font-family: inherit;
  font-weight: 500;
  line-height: 35px;
  margin-bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  padding: 0 10px;
}
.main-container .goods-list .goods-list-item .figureColor {
  color: #989898;
  font-size: 14px;
  overflow: hidden;
  white-space: inherit;
  text-overflow: ellipsis;
  height: 47px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  line-height: 22px;
  margin-top: 0px;
}
.main-container .goods-list .goods-list-item .price {
  color: #da2a2a;
}
.main-container .goods-list .goods-list-item .wrapper {
  display: none;
  width: 270px;
  position: absolute;
  left: 0;
  bottom: 3px;
  padding: 10px 15px;
}
.main-container .goods-list .goods-list-item .wrapper a {
  float: left;
  display: block;
  color: #fff;
  width: 90px;
  height: 30px;
  border-radius: 3px;
  line-height: 30px;
  padding: 0;
  outline: none;
}
.main-container .goods-list .goods-list-item .wrapper a:first-child {
  margin-left: 30px;
  border: 1px solid #ed1c24;
  color: #ed1c24;
}
.main-container .goods-list .goods-list-item .wrapper a:last-child {
  margin-left: 5px;
  background: #ed1c24;
  border: 1px solid #ed1c24;
}
.main-container .goods-list-all {
  display: block;
}
