.main-container {
    position: relative;
    .login-bg{
        background: url(https://www.konka.com/public/images/54/16/ea/cf2fb5341c992947164f99dce1c9fbe29bb5df2c.jpg?11688_OW1920_OH588);
        background-size: 100% 100%;
            width: 100%;
            height: 100%;
            position: absolute;
    }
    .passport-signup-container {
        width: 100%;
        height: 588px;
        background: #e8e8e8;
        .sig-bg {
            background: url(https://www.konka.com/themes/pc/konka/images/sigup.jpg) no-repeat;
            background-size: 100% 100%;
            .signup-panel {
                position: absolute;
                top: 104px;
                right: 0;
                width: 450px;
            }
        }
        .login-ba {
            height: 100%;
            width: 100%;
            .login-width {
                width: 1140px;
                height: 588px;
                position: relative;
                margin: 0 auto;
            }
        }
    }
}
.panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
}
.pull-right {
    float: right!important;
}
.btn-group-xs>.btn, .btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 1px;
}
.panel-body {
    padding: 15px;
}
.form-horizontal{
    .form-group {
        margin-right: -15px;
        margin-left: -15px;
    }
    .control-label {
        padding-top: 7px;
        margin-bottom: 0;
        text-align: right;
    }

} 
.form-group {
    margin-bottom: 15px;
}
.text-danger {
    color: #a94442;
}
.col-md-9 {
    width: 75%;
    float: left;
    padding-left: 0;
}
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
    float: left;
}