.slider-box {
  height: 100%;
  width: 1920px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.slider-box .slider-item-box {
  position: absolute;
  width: 8000px;
  height: 100%;
}
.slider-box .slider-item-box .slider-item {
  height: 100%;
  width: 1920px;
  float: left;
}
.slider-box .slider-item-box .slider-item img {
  height: 100%;
  width: 100%;
  display: block;
}
.slider-box .slider-control {
  position: absolute;
  width: 67%;
  top: 50%;
  left: 6%;
  display: flex;
  margin-top: -25px;
  justify-content: space-between;
}
.slider-box .slider-control span {
  text-align: center;
  line-height: 60px;
  font-size: 60px;
  width: 50px;
  height: 60px;
  opacity: 0.8;
  color: #fff;
  display: block;
}
.slider-box .slider-nav {
  position: absolute;
  display: flex;
  padding-right: 5px;
  left: 33%;
  bottom: 20px;
  opacity: 0.8;
}
.slider-box .slider-nav .slider-nav-item {
  width: 45px;
  height: 4px;
  text-align: center;
  line-height: 30px;
  font-size: 24px;
  margin: 6px 3px;
  background: white;
}
.slider-box .slider-nav .active {
  background: red;
  opacity: 0.8;
}
